$primarycolor: #78006E;
 $secondarycolor: #BE008C;
 $hovercolor:#66005D;
 $blackcolor: #000000;
 $tertiarycolor: #4B4B4B;
 $whitecolor:#ffffff;
 $lightgreycolor: #EBEBEB;
 $offwhite:#F7F7F7;
 $linecolor:#E6E6E6;
 $darkgrey:#767676;
 $pinkcolor:#FF4664;
 $orangecolor:#FA783C;
 $bluecolor: #64A0DC;
 $violetcolor: #646EC8;
 $greencolor:#3CA06E;
 $lightgreencolor:#46C8A0;
 $inputborder: #DDDDDD;
 $danger-alert:#ec2513;
 $font-10: 10px;
 $font-12: 12px;
 $font-14: 14px;
 $font-16: 16px;
 $font-18: 18px;
 $font-20: 20px;
 $font-21: 21px;
 $font-24: 24px;
 $font-32: 32px;
 $font-36: 36px;
 $font-default: 'Roboto';
 $width-100: 100%;
 // --- ROUNDED CORNER OPTIONS ---
$radius0: 0rem;
$radius1: 0.4rem;
$radius2: 0.8rem;
$radius3: 10rem;
$radius4: 5.0rem;
$radius5: 1.5rem;
$radius6: 1.6rem;
@mixin right-icon {
    content: "";
    width: 25px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;
  }
 @mixin p-btn{
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  border-radius: $radius1;
  padding: 10px 32px;
 }

 @mixin about-li{
  display: inline-block;
  margin: 0 0 0.5rem 0;
  padding: 0 0 1.5rem 4.2rem;
  position: relative;
  font-size: 1.4rem;
  color: $blackcolor;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
 
 }

 @mixin about-li-before{
  position: absolute;
  left: 0.5rem;
  top: 0.7rem;
  width: 2rem;
  height: 1.8rem;
  content: "";
  z-index: 1;
 }

 @mixin about-li-after{
  position: absolute;
  left: 0;
  top: 1px;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  content: "";
  border-radius: $radius4;
  background: rgb(236,78,79);
background: radial-gradient(circle, rgba(236,78,79,1) 0%, rgba(255,115,116,1) 100%);
 }

 @mixin input-cont{
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0.9rem;
  left: 0;
  @include anim-all;
 }

 @mixin sidemenu-head{
  background: #F1F1F1;
  color:$tertiarycolor;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding:2.4rem 4rem;
border-radius: 4px;
border: 2px solid $tertiarycolor;
margin:0 0 2.4rem 0;
text-align: center;
 }


 @mixin about-list-dot-li{
  display: inline-block;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0px 2rem;
  position: relative;
  font-weight: 700;
  line-height: normal;
  color: $secondarycolor;
  font-size: 18px;
 }
 @mixin about-list-dot-li-before{
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  border-radius: $radius4;
  background: $secondarycolor;
  left: 0;
  top: 0.9rem;
  position: absolute;
 }

 @mixin prim-btn{
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 3.2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  z-index: 2;
 @include anim-trans;
  color:$whitecolor;
  background: $primarycolor;
  border:1px solid $primarycolor;
 }

 @mixin prim-btn-ab-fore{
  content: "";
        position: absolute;
        top: 0;
        width: 25.25%;
        height: 0;
        z-index: -1;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
 }
 @mixin right-menu{
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0.5rem;
  left: 0;
  transition: all 0.3s ease-in-out;
 }

 @mixin anim-du{
  -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.3s;
 }
 @mixin anim-trans{
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
 }

 @mixin icon60{
  width: 60px;
    height: 60px;
    display: inline-block;
 }

 @mixin font-n{
  font-style: normal;
  line-height: normal;
 }
 @mixin anim-all{
  transition: all .5s;
      -moz-transition: all .5s;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
 }

 @mixin fixbg{
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
 }

 @mixin side-icon-bg{
  width: 60px;
  height: 60px;
  content: "";
  position: relative;
  @include anim-all;
  background: url(../images/sprite-img.png) no-repeat center center;
 }

 @mixin social-icon{
  background: url(../images/sprite-img.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 33px;
  height: 33px;
  content: "";
 }

 @mixin b-shadow{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 @mixin b-anim{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.3s;
 }

 @mixin patch-bg{ box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;}

  @mixin patch-before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 64px;
    transform: rotate(180deg);
    content: "";

  }


  @mixin book-bg{
    width: 40%;
    background-size: cover;
    height: 226px;
    text-align: center;

  }

  @mixin c-head{
    font-family: Nunito;
font-size: 3.6rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin:0 0 2rem 0;
  }

  @mixin com-text{
    color: $darkgrey;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 2.4rem;
  }
  @mixin com-text-span{
    display: block;
    font-size: 3.6rem;
    margin: 0 0 1rem 0;
  }
  @mixin input-cont{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
 @include anim-all;
   }
  

   @mixin border-bg{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 7.2rem;
    width: 100%;
   }
   @mixin border-vl{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 64px;
    transform: rotate(180deg);
    content: "";
   }
@mixin thrill-bg{
  width: 50%;
  height: 100%;
  content: "";
  right: 0;
  top: 0;
  position: absolute;
}
@mixin b-r{
  position: relative;
  margin: 5rem 0 0 0;
}
@mixin foo-border{
  position: absolute;
  content: "";
  left: 0;
  height: 7.2rem;
  width: 100%;
  bottom: -40px;
}

@mixin com-border{
background: $whitecolor;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin desti-list-li{
  margin: 0 0 1rem 0;
  padding: 0 0 0 1.6rem;
  display: block;
  position: relative;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@mixin desti-list-li-b{
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  border-radius: $radius4;
  left: 0;
  top: 9px;
  position: absolute;
}
@mixin pic-ab{
  bottom: -45px;
  position: absolute;
  width: 63%;
}

@mixin hori-patch{
  height: 7.2rem;
  width: 100%;
  transform: rotate(0deg);
}